<ion-view view-title="Dashboard">
    <ion-content>
        <div style="overflow:auto;background-color:#21292f;">
            <div class="w3-bar w3-left" style="width:100%;overflow:hidden;height:48px;">
                <div style="color:#ffff; padding:4px; float:right; font-size:18px">
                    <a class="w3-bar-item w3-button" href="#/tab/dash" title="HTML Tutorial">Home</a>
                    <a class="w3-bar-item w3-button" href="#/tab/chats" title="HTML Tutorial">Icon Collections</a>
                    <a class="w3-bar-item w3-button" href="#/iconEditor" title="HTML Tutorial">Custom Editor</a>
                    <a class="w3-bar-item w3-button" href="#/library" title="HTML Tutorial">Download Library</a>
                    <a class="w3-bar-item w3-button" href="#/tutorial" title="HTML Tutorial">Tutorial</a>
                    <a class="w3-bar-item w3-button" href="#/questions" title="CSS Tutorial">FAQ's</a>
                    <a class="w3-bar-item w3-button" href="#/about" title="JavaScript Tutorial">About</a>
                </div>
            </div>
        </div>
        <div class="content-container-fluid" style="overflow:hidden !important">
            <div class="row">
                <div class="cols-sample-area" style="overflow:hidden !important">
                    <div id="container" style="margin-left: 50%; margin-top:10%">
                        <div id="{{svg.id}}" class='edit-icon' style="width:100%; height:100%;float:left;box-sizing:border-box">
                            <svg viewBox="0 0 48 48" height="48" width="48" style="margin:0px 0px 0px 0px">
                                <rect xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="#000000" />
                                <path Stretch="Fill" transform="rotate(0,24,24) translate(11,11.8124945759773) scale(0.8125,0.8125)  " Fill="#FFFFFFFF" d="{{
                                svg.path }}">
                            </svg>
                        </div>
                    </div>
                </div>
                <div id="sampleProperties">
                    <div class="prop-grid">
                        <div class="row">
                            <div class="col-md-3">
                                Size
                            </div>
                            <div class="col-md-3">
                                <div class="slidecontainer">
                                    <input type="range" min="0" max="5" value="3" class="slider" id="size">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5 id='width'>Size: 48 * 48</h5>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-3">
                                Rotate
                            </div>
                            <div class="col-md-3">
                                <div class="slidecontainer">
                                    <input type="range" min="1" max="360" value="0" class="slider" id="rotate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5 id='rotateLabel'>Rotate: 0deg</h5>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-3">
                                Background Color
                            </div>
                            <div class="col-md-3 aligntop">
                                <div class="element">
                                    <input type="text" id="bpicker" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                Icon Color
                            </div>
                            <div class="col-md-3 aligntop">
                                <div class="element">
                                    <input type="text" id="ipicker" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                Export Type:
                            </div>
                            <div class="col-md-3 aligntop">
                                <select id='exportType' class="btn btn-success">
                                    <option value="JPEG">JPEG</option>
                                    <option value="PNG">PNG</option>
                                    <option value="SVG">SVG</option>
                                    <option value="PDF">PDF</option>
                                </select>
                            </div>
                        </div> <br/>
                        <div class="row">
                            <div class="col-md-3">
                                Click to Export
                            </div>
                            <div class="col-md-3 aligntop">
                                <button id='exportSVGElement' type="button" class="btn btn-danger">Export</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <script>
                    jQuery(function ($) {
                        $("#ipicker").ejColorPicker({
                            value: "#FFFFFF", change: function (args) {
                                var element = document.getElementsByClassName('edit-icon');
                                var svgElement = element[0].children[0];
                                var rectElement = svgElement.children[0];
                                var pathElement = svgElement.children[1];

                                pathElement.setAttribute('stroke', args.value);
                            }
                        });
                        $("#bpicker").ejColorPicker({
                            value: "#000000", change: function (args) {
                                var element = document.getElementsByClassName('edit-icon');
                                var svgElement = element[0].children[0];
                                var rectElement = svgElement.children[0];
                                var pathElement = svgElement.children[1];
                                rectElement.setAttribute('fill', args.value);
                            }
                        });

                    });
                    document.getElementById('size').onchange = function () {
                        var value = document.getElementById('size').value; var svgSize;
                        var svgViewBox;
                        var rectSize;
                        var transform;
                        switch (value) {
                            case '0':
                                svgSize = '16';
                                svgViewBox = "0 0 16 16";
                                rectSize = "16";
                                transform = "rotate(352,8,8) translate(4,4.24999833106995) scale(0.25,0.25)";
                                break;
                            case '1':
                                svgSize = '24';
                                svgViewBox = "0 0 24 24";
                                rectSize = "24";
                                transform = "rotate(352,12,12) translate(6,6.37499749660492) scale(0.375,0.375)";
                                break;
                            case '2':
                                svgSize = '32';
                                svgViewBox = "0 0 32 32";
                                rectSize = "32";
                                transform = "rotate(352,16,16) translate(8,8.49999666213989) scale(0.5,0.5)";
                                break;
                            case '3':
                                svgSize = '48';
                                svgViewBox = "0 0 48 48";
                                rectSize = "48";
                                transform = "rotate(352,24,24) translate(11,11.8124945759773) scale(0.8125,0.8125)";
                                break;
                            case '4':
                                svgSize = '128';
                                svgViewBox = "0 0 128 128";
                                rectSize = "128";
                                transform = "rotate(352,64,64) translate(30,32.1249858140945) scale(2.125,2.125)";
                                break;
                            case '5':
                                svgSize = '256';
                                svgViewBox = "0 0 256 256";
                                rectSize = "256";
                                transform = "rotate(352,128,128) translate(59,63.3124712109566) scale(4.3125,4.3125)";
                                break;
                        }

                        var element = document.getElementsByClassName('edit-icon');
                        var svgElement = element[0].children[0];
                        var rectElement = svgElement.children[0];
                        var pathElement = svgElement.children[1];
                        svgElement.setAttribute('width', svgSize);
                        svgElement.setAttribute('height', svgSize);
                        svgElement.setAttribute('viewBox', svgViewBox);
                        rectElement.setAttribute('width', rectSize);
                        rectElement.setAttribute('height', rectSize);
                        pathElement.setAttribute('transform', transform);
                        document.getElementById('width').innerHTML = 'Size: ' + svgSize + ' * ' + svgSize;
                    }

                    document.getElementById('rotate').onchange = function () {
                        var value = document.getElementById('size').value; var svgSize;

                        var rotate = document.getElementById('rotate').value;

                        document.getElementById('rotateLabel').innerHTML = "Rotate: " + rotate + "deg";
                        var svgViewBox;
                        var rectSize;
                        var transform;
                        switch (value) {
                            case '0':
                                svgSize = '16';
                                svgViewBox = "0 0 16 16";
                                rectSize = "16";
                                transform = "rotate(" + rotate + ",8,8) translate(4,4.24999833106995) scale(0.25,0.25)";
                                break;
                            case '1':
                                svgSize = '24';
                                svgViewBox = "0 0 24 24";
                                rectSize = "24";
                                transform = "rotate(" + rotate + ",12,12) translate(6,6.37499749660492) scale(0.375,0.375)";
                                break;
                            case '2':
                                svgSize = '32';
                                svgViewBox = "0 0 32 32";
                                rectSize = "32";
                                transform = "rotate(" + rotate + ",16,16) translate(8,8.49999666213989) scale(0.5,0.5)";
                                break;
                            case '3':
                                svgSize = '48';
                                svgViewBox = "0 0 48 48";
                                rectSize = "48";
                                transform = "rotate(" + rotate + ",24,24) translate(11,11.8124945759773) scale(0.8125,0.8125)";
                                break;
                            case '4':
                                svgSize = '128';
                                svgViewBox = "0 0 128 128";
                                rectSize = "128";
                                transform = "rotate(" + rotate + ",64,64) translate(30,32.1249858140945) scale(2.125,2.125)";
                                break;
                            case '5':
                                svgSize = '256';
                                svgViewBox = "0 0 256 256";
                                rectSize = "256";
                                transform = "rotate(" + rotate + ",128,128) translate(59,63.3124712109566) scale(4.3125,4.3125)";
                                break;
                        }

                        var element = document.getElementsByClassName('edit-icon');
                        var svgElement = element[0].children[0];
                        var rectElement = svgElement.children[0];
                        var pathElement = svgElement.children[1];
                        svgElement.setAttribute('width', svgSize);
                        svgElement.setAttribute('height', svgSize);
                        svgElement.setAttribute('viewBox', svgViewBox);
                        rectElement.setAttribute('width', rectSize);
                        rectElement.setAttribute('height', rectSize);
                        pathElement.setAttribute('transform', transform);
                    }

                    document.getElementById('exportSVGElement').onclick = function exportIcon(args) {
                        var id = document.getElementById('exportType').value;
                        var element = document.getElementsByClassName('edit-icon');
                        var svgElement = element[0].children[0];
                        svgData = svgElement.outerHTML,
                            size;
                        switch (id) {
                            case "SVG":
                                svgExport(svgData);
                                break;
                            case "JPEG":
                                imageExport(svgData, size, ".jpg");
                                break;
                            case "PNG":
                                imageExport(svgData, size, ".png");
                                break;
                            case "PDF":
                                pdfExport(svgData, size);
                                break;
                        }
                    }
                    function svgExport(svgData) {
                        svgData = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">' + svgData + "</svg>";
                        var svgBlob = new Blob([svgData], { type: "image/svg+xml;charset=utf-8" });
                        var svgUrl = URL.createObjectURL(svgBlob);
                        var downloadLink = document.createElement("a");
                        downloadLink.href = svgUrl;
                        downloadLink.download = "svgIcon.svg";
                        document.body.appendChild(downloadLink);
                        downloadLink.click();
                        document.body.removeChild(downloadLink);
                    }
                    function imageExport(svg, size, format) {
                        var imgData = svgToCanvas(svg, size);
                        var link = document.createElement('a');
                        link.download = "imgIcon" + format;
                        link.href = imgData;
                        link.click();
                    }
                    function pdfExport(svg, size) {
                        var imgData = svgToCanvas(svg, size);
                        var doc = new jsPDF('p', 'pt', 'a4');
                        doc.addImage(imgData, 'PNG', 40, 40, 75, 75);
                        doc.save('pdfIcon.pdf');
                    }
                    function svgToCanvas(svg, size) {
                        svg = svg.replace(/\r?\n|\r/g, '').trim();
                        var canvas = document.createElement('canvas');
                        var context = canvas.getContext('2d');
                        context.clearRect(0, 0, canvas.width, canvas.height);
                        canvg(canvas, svg);

                        return canvas.toDataURL('image/png');
                    }


                    $("#sampleProperties").ejPropertiesPanel();

                </script>
            </div>
        </div>
    </ion-content>
</ion-view>