<ion-view view-title="Dashboard">
  <ion-content>
      <div style="overflow:auto;background-color:#21292f;">
          <div class="w3-bar w3-left" style="width:100%;overflow:hidden;height:48px;">
          <div style="margin-left:82%;color:#ffffff; padding:4px;">
              <a class="w3-bar-item w3-button" href="/html/default.asp" title="HTML Tutorial">Tutorial</a>
              <a class="w3-bar-item w3-button" href="/css/default.asp" title="CSS Tutorial">FAQ's</a>
              <a class="w3-bar-item w3-button" href="/js/default.asp" title="JavaScript Tutorial">About</a>
          </div>
         </div></div>


      <div class="jumbotron text-center">
          <h3>Create an amazing logo design for your brand. Right now. For free.</h3>
          <p>More than 2,393,968 brands used Online Logo Maker to design their logo. It's time you make your own...</p>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-8">
                  <div class="col-sm-6">
                      <img src="../img/clean_and_easy.png" alt="Uncomplicated Interface">
                      <p class="center">
                          <strong>Uncomplicated Interface</strong>
                      </p>
                      <p>With our powerful Logo Maker, creating a logo is a simple and straight forward task, even if you are not a designer.</p>
                  </div>
                  <div class="col-sm-6">
                      <img src="../img/beautiful_fonts.png" alt="Uncomplicated Interface">
                      <p class="center">
                          <strong>Large Font Selection</strong>
                      </p>
                      <p>Classic, modern, elegant, fancy, you name it... Online Logo Maker has the right font for your business, just choose the one you want.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <h3>Column 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-2">                  
                  <button type="button" class="btn btn-danger btn-lg" ng-click="iconEditor()" style="background:#ec3d40 url('../img/arrow.png') no-repeat scroll 90% center;margin:1rem auto 20px; border-radius: 30px; padding:15px 70px 15px 40px">Start Logo Marker</button>
              </div>
          </div>
      </div>

</ion-content>
</ion-view>
