<ion-view view-title="Metro 2.0">
    <link rel="icon" href='../img/Background/Untitled-4 copy.jpg' />
  <ion-content style="background-image: url('../img/Background/abstract-wallpapers-hd-5.jpg'); ">
      <div style="overflow:auto">
          <div class="w3-bar w3-left" style="width:100%;overflow:hidden;height:48px;">
          <div style="color:darkorange; padding:4px; float:right; font-size:18px">
                <a class="w3-bar-item w3-button" href="#/tab/dash" title="HTML Tutorial">Home</a>
                <a class="w3-bar-item w3-button" href="#/tab/chats" title="HTML Tutorial">Icon Collections</a>
                <a class="w3-bar-item w3-button" href="#/iconEditor" title="HTML Tutorial">Custom Editor</a>
                <a class="w3-bar-item w3-button" href="#/library" title="HTML Tutorial">Download Library</a>
                <a class="w3-bar-item w3-button" href="#/tutorial" title="HTML Tutorial">Tutorial</a>
                <a class="w3-bar-item w3-button" href="#/questions" title="CSS Tutorial">FAQ's</a>
                <a class="w3-bar-item w3-button" href="#/about" title="JavaScript Tutorial">About</a>
          </div>
         </div></div>

      <br/>
      <br/>
      <br/>
      <div class="jumbotron text-center" style="color:white; background:rgba(128, 177, 242, 0.5); padding-top:30px !important; padding-bottom:30px !important">
          <h3 style="color:white">Pick or create desired icons from a vast collection for your needs. Right now. For free.</h3>
          <p>More than 1000+ icons. It's your time...</p>
          <p>Give a try now !</p>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-2">                  
                  <button type="button" class="btn btn-danger btn-lg" ng-click="iconEditor()" style=" border-color: orange !important; background:#3b84f9 url('../img/arrow.png') no-repeat scroll 90% center;margin:1rem auto 20px; border-radius: 30px; padding:15px 70px 15px 40px">Explore Icons</button>
              </div>
          </div>
      </div>

</ion-content>
</ion-view>
