<ion-view view-title="Chats">
  <ion-content style="background-image: url('../img/Background/IMG_319736.jpg');">
    <div style="overflow: auto; background-image: url('../img/Background/IMG_319736.jpg'); ">
      <div class="w3-bar w3-left" style="width:100%;overflow:hidden;height:48px;">
        <div style="color:white; padding:4px; float:right; font-size:18px">
          <a id="text12" class="w3-bar-item w3-button" href="#/tab-dash.html">Home</a>
            <a id="text13" class="w3-bar-item w3-button" href="#/tab/chats"  style="text-decoration:underline;">Icon Collections</a>
          <a id="text14" class="w3-bar-item w3-button" href="#/customEditor" >Custom Editor</a>
          <a  id="text15"class="w3-bar-item w3-button" href="#/library" >Download Library</a>
          <a id="text16" class="w3-bar-item w3-button" href="#/tutorial" >Tutorial</a>
          <a id="text17" class="w3-bar-item w3-button" href="#/questions">FAQ's</a>
          <a id="text18"class="w3-bar-item w3-button" href="#/about">About</a>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar" style="overflow:hidden !important;">
        <div class="sidebar-header" style="background: rgba(0, 0, 0, 0.5) !important">
          <h3 style="color:White !important" id="text19">Icons Category</h3>
        </div>
        <ul class="list-unstyled" ng-click="iconSelector($event)" style="background:rgba(0, 0, 0, 0.5) !important">
            <li class="active">
            <a id='application'  class="text20" data-toggle="collapse" aria-expanded="false">Application</a>
          </li>
          <li>
            <a id='banking' class="text21" data-toggle="collapse" aria-expanded="false">Banking</a>
          </li>
          <li>
            <a id='people' class="text22" data-toggle="collapse" aria-expanded="false">People</a>
          </li>
          <li>
            <a id='educations'class="text23" data-toggle="collapse" aria-expanded="false">Education</a>
          </li>
          <li>
            <a id='election'class="text24" data-toggle="collapse" aria-expanded="false">Election</a>
          </li>
          <li>
            <a id='food'class="text25" data-toggle="collapse" aria-expanded="false">Food</a>
          </li>
          <li>
            <a id='medical'class="text26" data-toggle="collapse" aria-expanded="false">Medical</a>
          </li>
          <li>
            <a id='sports' class="text27"data-toggle="collapse" aria-expanded="false">Sports</a>
          </li>
          <li>
            <a id='transporations'class="text28" data-toggle="collapse" aria-expanded="false">Transporation</a>
          </li>
          <li>
            <a id='shoppings'class="text29" data-toggle="collapse" aria-expanded="false">Shoppings</a>
          </li>

        </ul>
      </nav>

      <!-- Page Content Holder -->
      <div id="content">

        <nav class="navbar navbar-default" style="background-color:rgba(0, 0, 0, 0.6) !important">
          <div class="container-fluid">
              <div style="float:right; width:350px !important"> 
                  <input type="text" id="search" placeholder="Example - 'volume'"  style="width:200px !important; float:left">
                  <button type="button" class="btn btn-success" ng-click="submit()"   style=" margin-left: 5px; float:left; background-color:grey; border-color:black">Search</button>                  
                  <button type="button" ng-hide="hide" class="btn btn-danger" ng-click="reset()" style=" margin-left:5px; float:left; background-color:grey; border-color:black">Reset</button> &nbsp;

              </div>
              
            <div style="float:left; width:100%; box-sizing:border-box">
              <div id="metro-icon" ng-repeat="icon in icons" title="{{icon.name}}" style="padding:20px;float:left;" id="{{icon.id}}" class='metro-icon'>
                <div style="width:50px; height:85px;float:left;box-sizing:border-box">
                  <svg viewBox="0 0 48 48" height="48" width="48" stroke="white" style="margin:0px 0px 0px 0px">
                    <rect xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="#000000" />
                    <path Stretch="Fill" transform="rotate(0,24,24) translate(11,11.8124945759773) scale(0.8125,0.8125)  " Fill="#FFFFFFFF" d="{{
                      icon.path }}">
                  </svg>
                  <div id="metro-edit" style="margin:10px 10px 10px 10px;" class="metro-edit" ng-click="customizeIcon($event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 32 32">
                      <g id="{{icon.id}}">
                        <ellipse cy="16" cx="16" ry="16" rx="16" fill="#000000" />
                        <path style="fill: #ffffff !important;" id="path1" transform="rotate(352,16,16) translate(8,8.00099935704534) scale(0.4999531551385,0.4999531551385)"
                          d="M4.234565,23.060143L3.3980846,26.498995 5.6062109,28.670895 9.1839902,27.854559z M20.369981,6.6974076L5.4623272,21.465012 10.698205,26.536911 25.463305,11.631243z M24.268012,2.8359963L21.791127,5.2896117 26.870864,10.210285 29.195014,7.8640078z M24.290015,0L32.002999,7.8720034 10.464999,29.613993 0,31.999001 2.5469978,21.53801z"
                        />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
      <style>
          .metro-icon:hover{
              background-color: rgba(255,255,255,0.5) !important;
              border-color: black !important;
          }
          </style>
  </ion-content>
</ion-view>