<ion-view view-title="Library">
  <ion-content>
    <div style="overflow:auto;background-color:#21292f;">
      <div class="w3-bar w3-left" style="width:100%;overflow:hidden;height:48px;">
        <div style="color:#ffff; padding:4px; float:right; font-size:18px">
          <a class="w3-bar-item w3-button" href="#/tab/dash" title="HTML Tutorial">Home</a>
          <a class="w3-bar-item w3-button" href="#/tab/chats" title="HTML Tutorial">Icon Collections</a>
          <a class="w3-bar-item w3-button" href="#/iconEditor" title="HTML Tutorial">Custom Editor</a>
          <a class="w3-bar-item w3-button" href="#/library" title="HTML Tutorial">Download Library</a>
          <a class="w3-bar-item w3-button" href="#/tutorial" title="HTML Tutorial">Tutorial</a>
          <a class="w3-bar-item w3-button" href="#/questions" title="CSS Tutorial">FAQ's</a>
          <a class="w3-bar-item w3-button" href="#/about" title="JavaScript Tutorial">About</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>