/*------------------------------Document Editor start--------------------------*/

    /* Document editor font icons*/
    @font-face {
        font-family: 'ej-defont';
        src: url('../common-images/documenteditor/ejdeicons.eot?-dzszjm');
        src: url('../common-images/documenteditor/ejdeicons.eot?#iefix-dzszjm') format('embedded-opentype'), url('../common-images/documenteditor/ejdeicons.woff?-dzszjm') format('woff'),url('../common-images/documenteditor/ejdeicons.woff') format('woff'), url('../common-images/documenteditor/ejdeicons.ttf?-dzszjm') format('truetype'), url('../common-images/documenteditor/ejdeicons.svg?-dzszjm#ejdeicons') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    /*Ribbon customization starts*/
    /*Clipboard customization*/
    .e-de-paste:before {
        content: "\e918";
        font-family: 'ej-defont';
        font-size: 28px;
        left: -6px;
        position: relative;
    }

    .e-de-cut:before {
        content: "\e906";
        font-family: 'ej-defont';
    }

    .e-de-copy:before {
        content: "\e905";
        font-family: 'ej-defont';
    }
    /* Font customization*/
    .e-de-bold:before {
        content: "\e903";
        font-family: 'ej-defont';
    }

    .e-de-italic:before {
        content: "\e90e";
        font-family: 'ej-defont';
    }

    .e-de-underline:before {
        content: "\e927";
        font-family: 'ej-defont';
    }

    .e-de-strikethrough:before {
        content: "\e91e";
        font-family: 'ej-defont';
    }

    .e-de-superscript:before {
        content: "\e923";
        font-family: 'ej-defont';
    }

    .e-de-subscript:before {
        content: "\e922";
        font-family: 'ej-defont';
        top: 4px;
        position: relative;
    }

    .e-de-increasefont:before {
        content: "\e90b";
        font-family: 'ej-defont';
    }

    .e-de-decreasefont:before {
        content: "\e90a";
        font-family: 'ej-defont';
    }

    .e-de-fontcolor:before {
        content: "\e909";
        font-family: 'ej-defont';
    }
    /*Paragraph customization*/
    .e-de-bullet:before {
        content: "\e904";
        font-family: 'ej-defont';
    }

    .e-de-numbering:before {
        content: "\e915";
        font-family: 'ej-defont';
    }

    .e-de-multilevellist:before {
        content: "\e911";
        font-family: 'ej-defont';
    }

    .e-de-alignleft:before {
        content: "\e901";
        font-family: 'ej-defont';
    }

    .e-de-alignright:before {
        content: "\e902";
        font-family: 'ej-defont';
    }

    .e-de-aligncenter:before {
        content: "\e900";
        font-family: 'ej-defont';
    }

    .e-de-justify:before {
        content: "\e90f";
        font-family: 'ej-defont';
    }

    .e-de-textindent:before {
        content: "\e925";
        font-family: 'ej-defont';
    }

    .e-de-textoutdent:before {
        content: "\e926";
        font-family: 'ej-defont';
    }

    .e-de-linespacing:before {
        content: "\e910";
        font-family: 'ej-defont';
    }

    .e-de-find:before {
        content: "\e908";
        font-family: 'ej-defont';
    }

    .e-de-replace:before {
        content: "\e91b";
        font-family: 'ej-defont';
    }
    /*Table Customization*/
    .e-de-table:before {
        content: "\e924";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-picture:before {
        content: "\e919";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-hyperlink:before {
        content: "\e90d";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-newcomment:before {
        content: "\e913";
        font-family: 'ej-defont';
        font-size: 20px;
        line-height: 10px;
    }

    .e-de-showcomment:before {
        content: "\e91d";
        font-family: 'ej-defont';
        font-size: 20px;
        line-height: 10px;
    }

    .e-de-prevcomment:before {
        content: "\e91a";
        font-family: 'ej-defont';
        font-size: 20px;
        line-height: 10px;
    }

    .e-de-nextcomment:before {
        content: "\e914";
        font-family: 'ej-defont';
        font-size: 20px;
        line-height: 10px;
    }

    .e-de-delcomment:before {
        content: "\e907";
        font-family: 'ej-defont';
        font-size: 20px;
        line-height: 10px;
    }

    .e-de-zoomin:before {
        content: "\e928";
        font-family: 'ej-defont';
        font-size: large;
    }

    .e-de-zoomout:before {
        content: "\e929";
        font-family: 'ej-defont';
        font-size: large;
    }

    .e-de-resetzoom:before {
        content: "\e91c";
        font-family: 'ej-defont';
        font-size: large;
    }

    .e-de-onepage:before {
        content: "\e916";
        font-family: 'ej-defont';
        font-size: large;
    }

    .e-de-multiplepage:before {
        content: "\e912";
        font-family: 'ej-defont';
        font-size: large;
    }

    .e-de-pagewidth:before {
        content: "\e917";
        font-family: 'ej-defont';
        font-size: large;
    }

    .e-de-insertabove:before {
        content: "\e931";
        font-family: 'ej-defont';
        font-size: large;
    }

    .e-de-insertbelow:before {
        content: "\e930";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-insertright:before {
        content: "\e92e";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-insertleft:before {
        content: "\e92d";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-deletetable:before {
        content: "\e92a";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-deleterow:before {
        content: "\e92c";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }

    .e-de-deletecolumn:before {
        content: "\e92b";
        font-family: 'ej-defont';
        font-size: large;
        line-height: 10px;
    }
    /*Ribbon customization ends*/
/*------------------------------Document Editor End----------------------------*/
